# Folders that should not be included.
[Bb]in/
[Cc]onf/
[Ii]nclude/
[Jj]re/
[Jj]mods/
[Ll]egal/
[Ll]ib/
[Mm]issioncontrol/

# Extensions that should not be included.


# Files that should not be included.
ASSEMBLY_EXCEPTION
LICENSE
release
src.zip
THIRD_PARTY_README